body {
    font-family: 'Signika Negative', sans-serif;
    background-color: blanchedalmond;
}

header {
    font-family: 'Monoton', cursive;
    margin-bottom: 150px;

}

h1 {
    text-align: center;
    color: brown;
    font-size: 70px;
    background: -webkit-linear-gradient(rgb(248, 2, 2), rgb(81, 207, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap;
}

h2 {
    text-align: center;
    color: orange;
}

.color-set {
    color: indianred;
}

.flexible-container {
    display: flex;
    margin: 30px;
}

.half-width {
    width: 50%;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.box-shadow-item {
    box-shadow: 10px 10px 40px gray;
}

h4 {
    margin-bottom: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}